<div fxLayout="column">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
    <h2>{{title}}</h2>
  </div>

  <form [formGroup]="formGroup">
    <!-- From Top Section -->
    <div fxLayout="column" fxFlex="100">
      <div fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="space-around" fxFlex="100">
          <mat-form-field class="fx-margin-btm" appearance="outline" fxFlex="32">
            <mat-label>Name</mat-label>
            <input class="field-ellipsis" matInput placeholder="Name:" formControlName="name" maxLength='255'
              pattern="^[^A-Za-z0-9]*[A-Za-z0-9][\w\W]*">
          </mat-form-field>
          <mat-form-field class="fx-margin-btm" appearance="outline" fxFlex="32">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="lastReviewDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="fx-margin-btm" appearance="outline" fxFlex="32">
            <mat-label>Owner</mat-label>
            <input class="field-ellipsis" matInput placeholder="Owner:" formControlName="owner" maxLength='255'
              pattern="^[^A-Za-z0-9]*[A-Za-z0-9][\w\W]*">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around" fxFlex="100">
          <mat-form-field class="fx-margin-btm" appearance="outline" fxFlex="32">
            <mat-label>Description</mat-label>
            <input class="field-ellipsis" matInput placeholder="Description" formControlName="description" maxLength='255'>
          </mat-form-field>
          <mat-form-field class="fx-margin-btm" appearance="outline" fxFlex="32">
            <mat-label>Next Review Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="nextReviewDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="fx-margin-btm" appearance="outline" fxFlex="32">
            <mat-label>Updated By</mat-label>
            <input class="field-ellipsis" matInput placeholder="Updated By" formControlName="updatedBy" maxLength='255'>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100">
        <div fxFlex="row" fxLayoutGap="3px" fxLayoutAlign=" center" style="background: black; color: white;">
          <div fxFlex="3" class="mat-header-cell" style="padding-top:5px;">
            <mat-icon class="sp-p-left-10 sp-header-drag-hide" style="color: white; cursor: context-menu;">drag_handle</mat-icon>
          </div>
          <div fxFlex="22" class="mat-header-cell">
            <div class="sp-p-left-10" style="padding-top:5px;">Trigger</div>
          </div>
          <div fxFlex="75" fxLayoutGap="3px">
            <div fxFlex="32" class="mat-header-cell">
              <div class="sp-p-left-10" style="padding-top:5px;">Action</div>
            </div>
            <div fxFlex="30" class="mat-header-cell">
              <div class="sp-p-left-10" style="padding-top:5px;">Responsible</div>
            </div>
            <div fxFlex="30" class="mat-header-cell">
              <div class="sp-p-left-10" style="padding-top:5px;">Informarion</div>
            </div>
            <div fxFlex="8" class="mat-header-cell">
              <div class="sp-p-left-10" style="padding-top:5px;">Actions</div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" class="playbook-form-table editable-listing-pos" cdkDropList
            [cdkDropListData]="formGroup.get('trigger')['controls']" (cdkDropListDropped)="drop($event)">
            <div cdkDropListGroup *ngFor="let trigger of formGroup.get('trigger')['controls']; let triggerIndex=index;">
              <div fxLayout="row" cdkDrag fxLayoutGap="3px" [cdkDragData]="trigger">
                <div fxLayout="column" fxFlex="3" fxLayoutAlign="center center" class="action-triggered fx-mat-drag-action">
                  <mat-icon class="moveCursor">
                    drag_handle
                  </mat-icon>
                </div>
                <div fxLayout="column" fxFlex="22">
                  <div fxLayout="row">
                    <mat-form-field class="example-full-width"
                      fxFlex="80" appearance="outline">
                      <textarea matInput placeholder="Trigger" [formControl]="trigger.get('description')" cdkAutosizeMinRows="1"
                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="5"
                        pattern="^[^A-Za-z0-9]*[A-Za-z0-9][\w\W]*"></textarea>
                    </mat-form-field>
                    <div fxFlex="20" fxLayoutAlign="end center">
                      <mat-icon class="delete fx-delete-icon" (click)="deleteTrigger(triggerIndex)" matTooltip="Remove">delete_forever</mat-icon>
                      <mat-icon class="fx-add-icon" (click)="addTriggerRow()" matTooltip="Add">add_circle_outline</mat-icon>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="75" cdkDropList id="{{'l-'+triggerIndex}}"
                  [cdkDropListData]="trigger.get('triggerAction')['controls']"
                  (cdkDropListDropped)="dropAction($event,triggerIndex)" [cdkDropListConnectedTo]="getConnectedList()">
                  <ng-container
                    *ngFor="let triggerAction of trigger.get('triggerAction')['controls']; let actionIndex=index; let last = last;">
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100" fxLayoutGap="3px" style="margin-bottom: 4px;" cdkDrag
                      [cdkDragData]="triggerAction" [ngClass]="last?'':'action-row-border'">
                      <div fxLayout="column" fxFlex="32" class="stretchable-item">
                        <mat-form-field class="playbook-form" appearance="outline" fxFlex="100">
                          <textarea matInput [formControl]="triggerAction.get('name')" placeholder="Action Name" cdkAutosizeMinRows="1"
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="5" maxLength='65000'
                            pattern="^[^A-Za-z0-9]*[A-Za-z0-9][\w\W]*"></textarea>
                        </mat-form-field>
                      </div>
                      <div fxLayout="column" fxFlex="30" class="stretchable-item">
                        <mat-form-field class="fx-margin-btm" appearance="outline" fxFlex="100">
                          <mat-label>Responsible</mat-label>
                          <input class="field-ellipsis" matInput placeholder="responsible" [formControl]="triggerAction.get('responsible')" maxLength='255'>
                        </mat-form-field>
                      </div>
                      <div fxLayout="column" fxFlex="30" class="stretchable-item">
                        <mat-form-field class="fx-margin-btm" appearance="outline" fxFlex="100">
                          <mat-label>Information</mat-label>
                          <input class="field-ellipsis" matInput placeholder="Information" [formControl]="triggerAction.get('document')" maxLength='255'>
                        </mat-form-field>
                      </div>
                      <div class="stretch-parent" fxLayout="row" fxFlex="8" style="position: relative; left: 0.7px">
                        <div fxFlex="50" fxLayoutAlign="end center">
                          <mat-icon class="delete fx-delete-icon"
                            (click)="deleteTriggerAction(trigger.get('triggerAction'),triggerIndex,actionIndex)"
                            matTooltip="Remove">
                            delete_forever
                          </mat-icon>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="start center">
                          <mat-icon class="fx-add-icon" (click)="addTriggerActionRow(trigger.get('triggerAction').controls,triggerIndex,actionIndex)"
                            matTooltip="Add">
                            add_circle_outline
                          </mat-icon>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
    </div>
  </form>

  <div fxLayout="row" fxLayoutGap="10px">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
  </div>
</div>